[Unit]
Description=Cloudflare Tunnel for KENPOS
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/cloudflared tunnel --protocol http2 --no-autoupdate run
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
